actionlib==1.11.13
angles==1.9.11
bleach==1.5.0
bondpy==1.8.1
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
catkin==0.7.11
certifi==2018.4.16
chardet==3.0.4
cv-bridge==1.12.8
cycler==0.10.0
decorator==4.3.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dynamic-reconfigure==1.5.49
enum34==1.1.6
gazebo-plugins==2.5.14
gazebo-ros==2.5.14
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.10
gennodejs==2.0.1
genpy==0.6.7
h5py==2.8.0rc1
html5lib==0.9999999
idna==2.6
image-geometry==1.12.8
imutils==0.4.6
interactive-markers==1.11.3
kiwisolver==1.0.1
laser-geometry==1.6.4
Markdown==2.6.11
matplotlib==2.2.2
mavros==0.25.1
message-filters==1.12.13
networkx==2.1
numpy==1.14.3
Pillow==6.2.0
pluginlib==1.11.3
progressbar2==3.37.1
protobuf==3.5.2.post1
pyparsing==2.2.0
python-dateutil==2.7.3
python-qt-binding==0.3.3
python-utils==2.3.0
pytz==2018.4
PyWavelets==0.5.2
qt-dotgraph==0.3.8
qt-gui==0.3.8
qt-gui-cpp==0.3.8
qt-gui-py-common==0.3.8
requests==2.18.4
resource-retriever==1.12.4
rosbag==1.12.13
rosboost-cfg==1.14.3
rosclean==1.14.3
roscreate==1.14.3
rosgraph==1.12.13
roslaunch==1.12.13
roslib==1.14.3
roslint==0.11.0
roslz4==1.12.13
rosmake==1.14.3
rosmaster==1.12.13
rosmsg==1.12.13
rosnode==1.12.13
rosparam==1.12.13
rospy==1.12.13
rosservice==1.12.13
rostest==1.12.13
rostopic==1.12.13
rosunit==1.14.3
roswtf==1.12.13
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-dep==0.4.8
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.11
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.7
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rviz==1.12.16
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
sensor-msgs==1.12.5
six==1.11.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.1
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.17
tf2-kdl==0.5.17
tf2-py==0.5.17
tf2-ros==0.5.17
topic-tools==1.12.13
urllib3==1.22
Werkzeug==0.14.1
xacro==1.11.3
